<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diamond.app.user">
	<select id="login" parameterType="userdto" resultType="uservo">
			SELECT 	ID, PWD, NAME, POINT, DEPT
			FROM	INTERN_USER_TBL
			WHERE	ID = #{id} AND PWD = #{pwd} 
	</select>
</mapper>