<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.diamond.app.user.model.vo.UserDTO" alias="userdto" />
		<typeAlias type="com.diamond.app.user.model.vo.UserVO" alias="uservo" />
		<typeAlias type="com.diamond.app.board.model.vo.BoardVO" alias="board" />
	</typeAliases>
</configuration>